@charset "utf-8";
/* CSS Document */


/*	請將first 裡的 jumbotron class 的高度設定為 50vh。*/
#first .jumbotron{
	

	height: 70vh;
	
}


/*	請將first 裡的 h1 標籤的文字顏色為 brown。*/
#first h1{

	/* C-6 */
	color: brown;
}

#introfirst img
{
	
	/* D-5 */
	width: 300px;
}

#introsecond
{
	/*設定整個區塊跟navbar的距離*/
	padding-top:80px;
	
	
}

/*把摺頁裡的img 都設定成為圓角*/
#accordionExample img{
border-radius: 60px;
}

#QAsecond{
margin-top: 80px;
margin-left: 100px;*/
	
}


.accordion{
	
/*	max-width:600px;*/
	box-shadow:0 0 10px rgba( 0,0,0,0.2);
	border-radius:5px;
	overflow:hidden;
	font-family:"Quicksand", sans-serif;
	
}
/* 自己設定一個class。用來控制背景顏色*/
.bodybg{

	color:darkred;
	background-color: cadetblue;
}



.bodybg{

	color:white;
	background-color: cadetblue;
}
	
	



#introsecond a{
	text-decoration: none;
	color:darkred
}


#introsecond{
	padding-top: 70px;
	padding-bottom: 50px;
}


#location{
margin-top: 80px;
margin-left: 100px;*/
	
}